.fold-container {
  overflow: hidden;
}

.fold-one {
  background-color: #fff;
  height: 100vh;
}
.fold-one .content {
  all: unset;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fold-one .logo_wrapper {
  min-width: 30vw;
  max-width: 40vw;
}
.fold-one .logo_wrapper img {
  width: 100%;
}

.fold-one .phone_wrapper {
  width: 50vw;
  position: relative;
}

.fold-one .phone_wrapper img {
  width: 100%;
}

.fold-two {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
}

.fold-two img {
  width: 100%;
}
.fold-three {
  height: 100vh;
  padding: 5vw 0;
  text-align: center;
  overflow: hidden;
}

.fold-three header {
  display: flex;
  justify-content: center;
  height: 40vh;
}
.fold-three header img {
  height: 100%;
}

.fold-three .text_wrapper {
  margin-top: 2vw;
}

.fold-three .title {
  margin: 0;
}
.fold-three .desc {
  margin-top: 3vw;
}

.fold-four-content {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  overflow: hidden;
}

.fold-four-content img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.fold-four-text {
  width: 30vw;
  margin: auto;
}

.fold-four-text h1 {
  font-size: 2vw;
  font-weight: 400;
  margin-bottom: 1.25vw;
}

.fold-four-text .dots {
  margin-top: 1.25vw;
}

.fold-four-text .dot {
  background-color: #eed1c0;
}

.fold-five {
  height: 200vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.fold-wrapper {
  width: 68vw;
  margin: auto;
  color: #fff;
}

.fold-wrapper h2 {
  font-size: 1.75vw;
  font-weight: 400;
  margin-bottom: 1.25vw;
}

.fold-wrapper h4 {
  color: #909090;
  font-size: 0.9vw;
  font-weight: 600;
}

.fold-five-cards {
  margin-top: 1.25vw;
  display: flex;
  justify-content: space-around;
}

.fold-five-card {
  width: 20vw;
  height: 30vw;
  display: grid;
  grid-template-rows: 60% 40%;
  border-radius: 15px;
  border: #383838 1px solid;
}

.fold-five-card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.fold-five-card footer {
  background-color: #383838;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.fold-five-card footer h3 {
  color: #fff;
  font-weight: 600;
}

.fold-phone-spec {
  width: 75vw;
  margin: auto;
}

.fold-phone-spec img {
  width: 100%;
}

.fold-phone-spec-text {
  margin: 3vw auto 0;
  width: 68vw;
  display: flex;
  color: #fff;
}

.fold-phone-spec-text .datas {
  width: 60%;
}

.fold-phone-spec-text .datas p {
  color: #909090;
}

.fold-phone-spec-text span {
  font-size: 2.5vw;
  background: linear-gradient(#eed1c0 21%, #b5867f 81%, #dcb9aa);
  background-clip: text;
  color: transparent;
  font-weight: 400;
}
.fold-seven {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.fold-seven-content {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 80vh;
}

.fold-seven-left,
.fold-seven-right {
  width: 100%;
  height: 100%;
}

.fold-seven-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.fold-seven-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fold-seven-text {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: 2;
}

.fold-seven-right .fold-seven-text {
  left: 55%;
}

.fold-seven-text-desc {
  font-size: 1.125vw;
}
.fold-seven-text-title {
  font-size: 2vw;
}

.fold-eight {
  padding-top: 5vw;
  background-color: #000;
  color: #fff;
}

.fold-eight .title,
.desc {
  max-width: 40vw;
  margin: auto;
  text-align: center;
}

.fold-eight-content {
  height: 100vh;
  display: flex;
  width: 300vw;
}

.fold-eight-content .datas {
  flex-direction: column;
  gap: 2vw;
}

.fold-eight-content .datas span {
  color: #fff;
}
.fold-eight-content .datas p {
  color: #909090;
  font-size: 0.9vw;
}
.fold-eight-content .datas h3 {
  background: linear-gradient(#eed1c0 21%, #b5867f 81%, #dcb9aa) !important;
  background-clip: text !important;
  color: transparent;
}

.fold-eight-img {
  height: 100%;
  display: flex;
  align-items: end;
}

.fold-eight-img img {
  height: 95%;
  object-fit: cover;
}

.fold-left {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin: 0 10vw 0 15vw;
}
.left-12 {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin: 0 100px 0 100px;
}

.fold-slider {
  width: 200vw;
  display: flex;
  justify-content: space-between;

  gap: 20px;
}

.fold-slider-container {
  width: 100%;
  overflow: hidden;
}

.fold-slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.fold-slider-container img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.slide_1 {
  height: 80%;
}
.slide_2 {
  height: 60%;
}
.slide_4 {
  height: 70%;
}
.slide_5 {
  height: 80%;
}

.fold-nine {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.fold-nine-text {
  color: #fff;
  position: absolute;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fold-nine-text .title {
  font-size: 1.5vw;
  margin: auto;
  text-align: center;
}

.fold-nine-content {
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: hidden;
}

.fold-nine-content img,
.fold-nine-content video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fold-ten {
  background-color: #000;
  color: #fff;
}
.fold-ten header {
  padding: 5vw;
}

.fold-ten header .desc {
  color: #909090;
  margin: 0 auto;
}

.fold-ten-content {
  position: relative;
  display: flex;
  height: 100vh;
}

.fold-ten-video {
  width: 80%;
  height: 80%;
  margin: auto;
}

.fold-ten-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.7);
}

.fold-ten-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}

.fold-ten-text-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.fold-ten-text .title,
.desc {
  margin: 0;
}
.fold-ten-text .subtitle {
  font-weight: 600;
  font-size: 1.25vw;
}
.fold-ten-text .desc {
  color: #909090;
}

.fold-ten-text .text_list {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  row-gap: 2rem;
}

.fold-ten-text .text_list h3 {
  color: #fff;
  font-size: 2vw;
}

.fold-ten-text .text_list p {
  color: #909090;
  font-size: 0.8vw;
}

.fold-eleven {
  position: relative;
  background-color: #000;
  overflow: hidden;
}

.fold-eleven-content {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
}

.fold-left-2,
.fold-right-2 {
  width: 10rem;
}

.fold-eleven-content .title {
  background: linear-gradient(#eed1c0 21%, #b5867f 81%, #dcb9aa);
  background-clip: text;
  color: transparent !important;
  margin: 0;
  text-align: left;
  font-size: 3vw;
}
.fold-eleven-content .subtitle {
  color: #fff;
  font-weight: 600;
  margin: 0 0 1.25vw;
  text-align: left;
}
.fold-eleven-content .desc {
  font-size: 0.9vw;
  color: #909090;
  font-weight: 400;
  text-align: left;
}

.fold-eleven-content img {
  height: 60%;
}

.fold-circle {
  width: 100vh;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: radial-gradient(
    73.89% 73.89% at 50% 50%,
    #636980 0,
    rgba(99, 105, 128, 0) 68.17%
  );
  transform: translate(-50%, -50%);
}

.fold-12 {
  background-color: #000;
  height: 100vh;
  display: flex;
  color: #fff;
}

.fold-12-cards {
  height: 60vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.fold-12-card {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fold-12-card video {
  border: 1px solid #373737;
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.fold-card-bottom-section {
  background-color: #383838;
  padding: 1rem;
  border-radius: 0 0 15px 15px;
}

.fold-title {
  font-size: 1.75vw;
  font-weight: 500;
}

.fold-subtitle {
  margin: 1rem 0 2rem;
}
.card-2 video {
  border-radius: 0 0 15px 15px;
  height: 59%;
}
.card-3 video {
  height: 65%;
}

.fold-card-header-section {
  background-color: #fff;
  color: #000;
  padding: 1rem;
}

.fold-13 {
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.fold-13 img {
  width: 10%;
  margin: 0 auto;
}

.fold-13-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fold-13-content .fold-subtitle {
  color: #909090;
}
.fold-13-content .text-list {
  display: flex;
  flex-direction: column;
}

.fold-13-content .text-list .list {
  background: linear-gradient(#eed1c0 21%, #b5867f 81%, #dcb9aa);
  background-clip: text;
  color: transparent;
  font-size: 4vw;
}

.fold-14 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5vw;
}
.fold-14 .fold-title,
.fold-subtitle {
  text-align: center;
}

.fold-14-cards {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 75%;
  margin: 0 auto;
  gap: 1vw;
}

.fold-14-cards :last-child {
  grid-column-start: span 2;
}

.fold-14-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vw;
  background: #f8f8f8;
  padding: 2rem;
}

.fold-14-card video,
.fold-14-card img {
  height: 70%;
  object-fit: contain;
  margin: 0 auto;
}

.fold-14-card .card-title {
  font-size: 1.25vw;
  font-weight: 500;
}

.fold-14-footer {
  width: 75%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fold-14-footer .footer-title {
  font-size: 1.5vw;
}
.fold-14-footer .footer-subtitle {
  font-size: 2.5vw;
  font-weight: 500;
  margin-bottom: 1.25vw;
}

.footer-img-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-img-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.footer-img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.footer-img-card img:hover {
  transform: scale(1.4);
  transition: 0.3s;
}

.fold-15 {
  background-color: #fff;
  color: #333;
  padding-bottom: 10%;
}

.fold-15 p {
  width: 75%;
  margin: auto;
  font-weight: 400;
  font-size: 0.625em;
  line-height: 1.6;
  opacity: 0.6;
}
