@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  accent-color: #0264fa;
  background-color: #f8f8f8;
  height: 100%;
}
.main-container {
  max-width: 1272px;
  margin: 0 auto;
}

.accordion {
  border-radius: 4px;
  margin: 10px 0;
}

.accordion-title {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.accordion-content {
  height: fit-content;
  transition: 0.3s ease;
  overflow: hidden;
}

.accordion-content-text {
  padding: 10px;
}

.white {
  background-color: #fff;
}

.home {
  background-color: #fff;
}
.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 10px;
  overflow-x: hidden;
}
/*********** HEADER ***********/

.header-container {
  background-color: #fff;
}

.header {
  max-width: 1272px;
  margin: auto;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header-links {
  width: 100%;
  max-width: fit-content;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

.active {
  color: #0264fa;
}

.header-select select {
  padding: 4px 6px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  outline: none;
}

.header-select select option {
  border-radius: 2px;
  padding: 4px 6px;
  background-color: #fff;
  color: #333;
}

.header-select select option:hover {
  background-color: #f0f0f0;
}

.header-select select option:checked {
  background-color: #007bff;
  color: #fff;
}

/*********** BURGER MENU ***********/
.mobile-menu {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}
.mobile-menu img {
  height: 20px;
}

.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.burger-button div {
  width: 30px;
  height: 3px;
  background: #0264fa;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger-button.open .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-button.open .line2 {
  opacity: 0;
}

.burger-button.open .line3 {
  transform: rotate(-45deg) translate(9px, -9px);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 19;
  padding: 0 2rem;
}

.menu a {
  font-size: 2em;
  text-decoration: none;
}

.menu.open {
  opacity: 1;
  pointer-events: auto;
}

.menu .mobile-menu {
  padding: 0;
  margin-bottom: 2rem;
}

/*********** FOOTER ***********/

.footer {
  width: 100%;
  margin: auto;
}

.footer-header {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-links-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-link {
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
.bold {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  gap: 20px;
}
.instagram {
  padding: 0;
  margin: 0;
  font-size: 36px;
}
.tiktok {
  padding: 0;
  height: 32px;
  width: 32px;
  border-radius: 2px;
}

.footer-bottom {
  margin-top: 60px;
  height: 5vw;
  color: #707071;
}
.footer-bottom img {
  height: 3vw;
  color: #707071;
  max-height: 20px;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.footer-logo p {
  font-size: clamp(12px, 2vw, 14px);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.copyright {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 0.75rem;
}
.copyright-links {
  color: #707071;
  display: flex;
  gap: 30px;
}
.footer-link-copyright {
  text-decoration: none;
  color: #707071;
}

.slider-sec .swiper {
  width: 100%;
  height: 576px;
  border-radius: 1rem;
}

.slider-sec .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-sec .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*********** RECOMMENDED PHONES ***********/

.recommended-phones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 50px auto 40px;
}

.recommended-phone-card {
  display: grid;
  place-items: center;
  background-color: #f8f8f8;
  border-radius: 16px;
  color: #707071;
  padding: 15px 10px 30px;
  height: 528px;
  width: 100%;
  max-width: 624px;
}
.recommended-logo {
  max-width: 170px;
  object-fit: contain;
}

.recommended-phone-specs {
  font-size: 12px;
  display: flex;
  gap: 20px;
}
.recommended-links {
  margin: 20px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.recommended-link {
  text-decoration: none;
  color: #000;
}
.buy-btn {
  cursor: pointer;
  width: 124px;
  height: 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #0264fa;
}

.about-phone {
  display: flex;
  align-items: center;
  gap: 5px;
}

.vl {
  height: 15px;
  width: 1px;
  background-color: #707071;
}

.recommended-phone-img {
  max-width: 289px;
  height: 100%;
  max-height: 289px;
}

.banner {
  width: 100%;
  margin: 50px 0;
  max-width: 1272px;
  height: 576px;
  border-radius: 16px;
  object-fit: cover;
}
/*********** PHONES ***********/
.smartphones {
  margin-top: 3rem;
}

.smartphones-content {
  display: flex;
  margin-bottom: 100px;
}

.phone-slider {
  max-width: 100%;
  height: 320px;
}

.phone-slider img {
  width: 100%;
  height: 100%;
}

.custom-phone-pag {
  width: 1rem;
  height: 1rem;
  float: left;
}

.smartphone-title {
  position: relative;
}

.smartphone-title-link {
  position: absolute;
  top: 0;
  right: 0;
}

.phones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  height: fit-content;
  gap: 1rem;
}

.phone-card {
  border-radius: 8px;
  height: 28rem;
  width: 18rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.phone-card-img {
  width: 100%;
  margin-bottom: 40px;
  height: 220px;
}

.phone-card-img .swiper {
  width: 100%;
}

.phone-card-img .swiper-slide {
  height: 220px;
}

.phone-card-img .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.phone-title {
  font-size: 16px;
  margin-bottom: 0.5em;
}

.color-options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 6rem;
  margin-bottom: 2rem;
}

.color-options input[type="radio"] {
  width: 20px;
  height: 20px;
  background-color: #007bff;
}
.black-img {
  background-color: black;
}

.white-img {
  background-color: white;
}

.blue-img {
  background-color: blue;
}

.yellow-img {
  background-color: aqua;
}

.phone-price {
  margin-top: 3rem;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.phone-detail-main .container {
  position: relative;
}

.animated-page-link {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.animated-page-link .contact-button {
  width: auto;
  padding: 0 1rem;
}
.animated-page-link .contact-button a {
  text-decoration: none;
  color: #fff;
}

.phone-container {
  max-width: 1272px;
  margin: 40px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 30px;
}

.phone-detail-title {
  font-size: 20px;
  font-weight: 600;
}

.phone-detail-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.phone-detail-content .swiper {
  margin: 0;
  height: 320px;
  width: 320px !important;
  object-fit: contain;
}

.phone-detail-content .swiper .swiper-slide img {
  width: 100%;
  object-fit: contain;
  height: 100%;
  max-height: 280px;
}

.phone-detail-content p {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 500;
}

/*********** FILTER ***********/
.filter {
  width: 100%;
  min-width: 260px;
  max-width: 290px;
  margin: 0 20px 0 0;
  border-right: 2px solid #dddddd;
  height: auto;
}

.filter .divider {
  margin: 10px;
  width: 90%;
}

.filter .accordion-title {
  border-bottom: none;
}

.filter-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 24px;
  font-weight: 600;
}

.mobile-filter {
  display: none;
}

.category {
  display: flex;
  flex-direction: column;
}
.category label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0.5rem;
}

/*********** NEWS ***********/
.home-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 100px;
  gap: 1rem;
  background-color: #fff;
  height: 550px;
}

.news {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0 100px;
  background-color: #fff;
  gap: 20px;
}

.news-card {
  border-radius: 8px;
  background-color: #f8f8f8;
  width: 100%;
  max-width: 400px;
  max-height: 520px;
  margin: auto;
  border: 1px solid #eeeeee;
}

.news-card-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.news-card-content {
  padding: 20px 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.news-data {
  font-size: 12px;
  color: #707071;
}
.news-card-text {
  font-size: 12px;
  color: #707071;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-card-title {
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-links {
  margin: 1em 10px 0;
  text-decoration: none;
  display: flex;
  justify-content: end;
  gap: 20px;
  color: #000;
}
.news-link {
  right: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

/*********** SHOP CARD ***********/
.shop {
  margin-bottom: 50px;
}
.shop-img {
  max-width: 260px;
  object-fit: contain;
}
.shop-cards {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: fit-content;
  justify-content: center;
}
.shop-card {
  margin: auto;
}

.shop-title {
  font-size: 16px;
  font-weight: 600;
}
.shop-box {
  background-color: #fff;
  border-radius: 8px;
  height: 19rem;
  width: 19rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.shop-links {
  margin: 10px 0;
  text-decoration: none;
  display: flex;
  gap: 20px;
  color: #000;
}
.shop-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

/*********** ABOUT PAGE ***********/
.about-page {
  display: flex;
  flex-direction: column;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 70vh;
  background-size: cover;
  background-position: center;
}

.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slogan-image {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}

.more-links {
  margin: 10px 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #000;
}
.more-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}

.slogan {
  margin: 100px auto 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slogan-title {
  text-align: center;
}

.slogan-title p {
  font-size: 14px;
  font-weight: 400;
}
.slogan-title h3 {
  font-size: 40px;
  font-weight: 600;
  color: #0034ee;
  margin-bottom: 20px;
}

.history-card-date {
  font-size: 12px;
  color: #707071;
}
.history-card-img {
  margin: 13px 0 15px;
  width: 300px;
  max-height: 175px;
  object-fit: cover;
  border-radius: 8px;
}
.mySwiper {
  width: 100%;
  margin-bottom: 50px;
  max-height: 300px;
}

.history-slide {
  background-color: transparent;
  min-width: 200px;
  max-width: 300px;
  max-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.history .swiper {
  margin-top: 1rem;
}

.navigation {
  margin: auto;
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.navigation-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  border: none;
  color: #fff;
  background-color: #0034ee;
  cursor: pointer;
}

/*********** MAIN NEWS CARD ***********/
.main-news-link {
  all: unset;
  cursor: pointer;
}

.main-news {
  display: flex;
  align-items: center;
  gap: 28px;
}
.main-news img {
  width: 60%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.main-news-date {
  font-size: 12px;
  color: #707071;
}
.main-news-title {
  font-size: 20px;
  font-weight: 600;
}

/*********** NEWS PAGE ***********/

.news-header-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.news-header-date {
  display: flex;
  gap: 20px;
  color: #707071;
  font-size: 12px;
}
.news-header-title {
  font-weight: 600;
  font-size: 32px;
}
.news-main-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.news-main-content img {
  width: 100%;
  margin: 40px 0;
  border-radius: 16px;
}

.news-main-content-title {
  font-size: 16px;
  font-weight: 600;
}
.news-main-navigation {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}

.news-link-left,
.news-link-right {
  font-size: 14px;
  margin: 1em 0;
  text-decoration: none;
  display: flex;
  justify-content: end;
  gap: 20px;
  color: #707071;
}
.news-main-content-ps {
  font-style: italic;
}

.news-link-left img {
  rotate: 180deg;
}
.news-link {
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/*********** SUPPORT ***********/

.support-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  background-size: cover;
  background-position: top;
  background-image: url(../assets/support_banner.png);
}

.support-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.support-subtitle {
  color: #fff;
  font-size: 20px;
}
.support-search {
  padding: 5px 20px;
  border-radius: 12px;
  background-color: #fff;
  height: 48px;
  width: 624px;
  display: flex;
  gap: 10px;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
}

/*********** DOWNLOAD ***********/

.download-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 3rem 0;
}

.download-card {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  max-width: 624px;
  max-height: 300px;
}
.download-card img {
  position: relative;
  width: 100%;
}

.download-card-content {
  left: 2%;
  top: 2%;
  position: absolute;
  z-index: 2;
}

.download-card-title {
  font-size: 20px;
  font-weight: 600;
}

.download-content {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.download-title {
  font-size: 32px;
  font-weight: 600;
}

.download-subtitle {
  font-size: 20px;
  color: #707071;
}

/*********** SERVICE ***********/

.service-center {
  text-align: center;
  margin: 8rem 0;
}

.service-center .support-title {
  color: #000;
  font-size: 32px;
  font-weight: 600;
}
.service-center .support-subtitle {
  color: #000;
  font-size: 20px;
}

/*********** CONTACT ***********/

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 0 7rem;
  gap: 1rem;
}

.contact-left {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-left-content {
  padding: 6rem 9rem 6rem 2rem;
}

.contant-title {
  font-size: 32px;
  font-weight: 600;
}

.contant-subtitle {
  font-size: 20px;
  color: #707071;
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-right input,
textarea {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.contact-right input:focus,
textarea:focus {
  outline: none;
}

.contact-right input,
textarea {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
}
.contact-right textarea {
  height: 7rem;
  resize: none;
}

.contact-right label {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-button {
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 4px;
  background-color: #0264fa;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/*********** SEARCH ***********/
.search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.search-content h3 {
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 700;
}

.search-content input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 90%;
  max-width: 30rem;
  border: none;
  border-bottom: 2px solid #e2e2e2;
  background-color: transparent;
}
.search-content input:focus {
  outline: none;
  border-bottom: 2px solid #000000;
}

/*********** TABS ***********/

.tabs {
  display: flex;
  position: relative;
  justify-content: center;
  width: 30%;
  margin: auto;
  margin-top: 3rem;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}

.tab::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.tab.active::after {
  transform: scaleX(1);
}

.tab-content {
  padding: 20px;
}

/**************** Service ****************/

.service-container {
  background-color: #fff;
}

.service-container .container {
  margin-bottom: 7rem;
}

.service-container .service-center {
  margin: 0;
  padding-top: 2rem;
}

.service-list {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  max-width: 30rem;
  margin: auto;
}

.service-input-container {
  position: relative;
  font-size: 1rem;
}

.service-list select {
  padding-right: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("https://www.svgrepo.com/show/521469/arrow-down.svg")
    no-repeat right 10px center;
  background-size: 1.5rem;
}

.service-list select option {
  padding: 10px !important;
}

.service-input-container .service-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.service-input-container input {
  width: 100%;
  padding-left: 2rem;
}

.service-input-container input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.service-map-card {
  display: grid;
  grid-template-columns: 30% 68%;
  justify-content: space-between;
}

.google-map {
  height: 400px;
}
.service-left {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.service-left h1 {
  font-size: 1rem;
  font-weight: 700;
  color: #222222;
}

.service-left p {
  color: #0264fa;
  font-size: 14px;
  margin-top: 4px;
}

.service-left span {
  color: #707071;
  font-size: 14px;
}

.service-left .service-left-icon {
  color: #707071;
  margin-right: 0.5rem;
  width: 16px;
  height: 16px;
}

.service-left ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.service-left ul li {
  display: flex;
  gap: 0.5rem;
}

.dropdown-select {
  width: 300px;
  border: 1px solid #ddd;
  margin: 5px;
  position: relative;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background: #f9f9f9;
}

.dropdown-content {
  position: absolute;
  width: 100%;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 999;
}

/*********** COMPARE PHONES ***********/

.comparison-container {
  min-height: 500px;
  height: 100%;
  overflow-x: scroll;
}

.selected-phones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.comparison-table {
  min-width: 900px;
  display: grid;
  grid-template-columns: 1fr;
}

.comparison-table img {
  width: 220px;
  margin: 0 auto;
}

.comparison-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.comparison-cell {
  flex: 1;
  padding: 10px;
  min-width: 200px;
}
.comparison-cell .swiper {
  width: 300px;
  height: 260px;
}
.comparison-cell .swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
}

/*********** PHONE APP DOWNLOAD ***********/

.download-phone-card {
  width: 300px;
  height: 336px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.75rem;
  background-color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.download-phone-card img {
  width: 220px;
  height: 220px;
  object-fit: contain;
  margin-bottom: 2.5rem;
}

.download-phone-card p {
  font-size: 1.25rem;
  font-weight: 500;
}
