@media (max-width: 767px) {
  .phone-container {
    width: 100%;
  }
  .phone-detail-content p {
    width: 100% !important;
  }
  .smartphone-title {
    display: flex;
    flex-direction: column;
    margin: 5rem 0 3rem;
  }
  .smartphone-title .title {
    text-align: left;
    margin: 0;
  }
  .smartphone-title-link {
    position: relative;
  }

  .smartphone-title-link .more-links {
    justify-content: flex-start;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .download-cards {
    display: flex;
    flex-direction: column;
  }

  .contact-right {
    gap: 1rem;
  }
  .contact-left {
    background-color: transparent !important;
    margin-bottom: 2rem;
  }
  .contact-left-content {
    padding: 0;
  }
  .recommended-phones {
    display: flex;
    overflow-x: scroll;
  }
  .home-news {
    display: flex;
    overflow-x: scroll;
  }
  .news {
    grid-template-columns: 1fr 1fr;
  }
  .support-search {
    width: 100%;
  }

  .phone-container {
    display: flex;
    flex-direction: column;
  }

  .main-news {
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 0 4rem;
  }

  .main-news img {
    width: 100%;
    border-radius: 1rem;
    height: 30rem;
  }
}
