@media (max-width: 1024px) {
  .phones {
    gap: 10px;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .home-news {
    grid-template-columns: 1fr 1fr;
  }
  .footer-links-group {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 3rem;
  }
  .copyright, .copyright-links {
    flex-direction: column;
  }
  .copyright p{
    margin: 3rem 0 5rem;
  }
  .copyright-links {
    gap: 1rem;
  }
}
