.spark-container-2 {
  background-color: #f964b8;
}

.c-one {
  position: relative;
  padding-bottom: 8.3333333333vw;
  background-color: #fff;
}

.c-one video {
  position: absolute;
  top: 2.6041666667vw;
  right: 2.6041666667vw;
  width: 62.5vw;
  clip-path: inset(2px);
}

.c-one-content {
  position: relative;
  max-width: 40.625vw;
  padding: 12.5vw 0 0 2.0833333333vw;
}

.spark-slogan {
  width: 18.0729166667vw;
  height: 2.65625vw;
  margin-bottom: 2.3958333333vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec1PcSlogan.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon_container {
  position: relative;
}

.title-1 {
  color: #000;
  font-size: 5.2083333333vw;
  font-weight: 700;
  line-height: 0.9;
}
.c-icon {
  position: absolute;
  width: 3.9583333333vw;
  height: 3.9583333333vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec1PcIcon4.webp);
  background-repeat: no-repeat;
  background-size: contain;
  top: 25%;
  left: 65%;
}

.params {
  display: flex;
  margin-top: 2.6041666667vw;
}

.params .param {
  position: relative;
  margin-right: 3.90625vw;
  color: #333;
  font-size: 1.3020833333vw;
  font-weight: 400;
}

.params .param span {
  display: inline-block;
  width: 2.8645833333vw;
  height: 1.1979166667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec1PcDts.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.l-desc {
  margin-top: 6.25vw;
  color: #161616;
  font-size: 0.5208333333vw;
  opacity: 0.4;
}

.items {
  display: grid;
  grid-template-rows: 12.96875vw 6.1458333333vw 15.7291666667vw;
  grid-template-columns: 12.5vw 12.5vw 7.7083333333vw 9.2708333333vw 23.5416666667vw;
  gap: 1.25vw;
  justify-content: center;
  padding: 5.2083333333vw 0 14.5833333333vw;
  background-color: #fff;
}

.item {
  position: relative;
  border-radius: 0.4166666667vw;
  box-shadow: 0 2px 2px #00000040;
}
.item .text_wrapper {
  position: relative;
}
.item .text_wrapper .item-title {
  position: relative;
}

.item .img_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-1 .img_wrapper .item-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 27.8125vw;
  height: 6.40625vw;
  transform: translate(-50%);
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec2PcF1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.item-2 .img_wrapper .item-img {
  position: absolute;
  bottom: -2.8125vw;
  left: 0;
  width: 21.7708333333vw;
  height: 21.7708333333vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec2PcF2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.item-3 .img_wrapper .item-img {
  width: 100%;
  height: 100%;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec2PcF3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
}
.item-4 .img_wrapper .item-img {
  position: absolute;
  bottom: 0;
  width: 12.5vw;
  height: 16.1979166667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec2PcF4.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.item-5 .img_wrapper .item-img {
  width: 100%;
  height: 100%;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec2PcF5.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.item-6 .img_wrapper .item-img {
  width: 100%;
  height: 100%;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec2PcF6.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.item-7 .img_wrapper .item-img {
  width: 100%;
  height: 100%;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec2PcF7.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.item-1 .item-title {
  max-width: 31.25vw;
  margin: 3.03125vw auto 0;
  color: #5e37ef;
  font-size: 1.40625vw;
}
.item-2 .item-title {
  text-align: start;
  font-size: 1.3vw;
  color: #5e37ef;
}
.item-3 .item-title {
  text-align: start;
  color: #c9f556;
  font-size: 1.4vw;
}
.item-4 .item-title {
  text-align: start;
  color: #ffc314;
  font-size: 1.25vw;
}

.item-3 span {
  color: #fff;
  font-size: 2.5vw;
}

.item-5 .item-title {
  color: #c9f556;
  font-size: 1.25vw;
}
.item-6 .item-title {
  color: #c9f556;
  font-size: 1.25vw;
}
.item-7 .item-title {
  color: #fff;
  font-size: 2.4vw;
}

.item-1 {
  display: flex;
  align-items: center;
  grid-area: 1 / 1 / 2 / 4;
  background-color: #c9f556;
}

.item-2 {
  display: flex;
  grid-area: 1 / 4 / 2 / 6;
  align-items: center !important;
  justify-content: center;
  padding: 0 1.5625vw 0 21.1979166667vw;
  background-color: #c9f556;
}
.item-3 {
  display: flex;
  grid-area: 2 / 1 / 2 / 5;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 10px #ffffff4d inset;
}
.item-4 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  justify-content: end;
  height: 98.5%;
  padding: 1.0416666667vw;
  background-color: #5e37ef;
}
.item-5 {
  grid-area: 3 / 2 / 4 / 3;
  padding: 1.875vw 1.5625vw;
  box-shadow: 4px 4px 10px #ffffff4d inset;
}
.item-6 {
  grid-area: 3 / 3 / 4 / 5;
  padding: 1.875vw 1.5625vw;
  box-shadow: 4px 4px 10px #ffffff4d inset;
}
.item-7 {
  grid-area: 2 / 5 / 4 / 6;
  padding: 2.8645833333vw 3.125vw;
  box-shadow: 4px 4px 10px #ffffff4d inset;
  transform: scale(1.05);
}

.sec-three {
  position: relative;
  overflow: unset;
  background-color: #c9f556;
}

.bar {
  position: absolute;
  top: -4.6875vw;
  width: 100%;
  height: 10.4166666667vw;
  background-color: transparent;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec3PcBar.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  transform: translateY(1px);
}

.sec-three-content {
  overflow: hidden;
}
.sec-three .text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 17.96875vw auto 20.8333333333vw;
  padding: 3.0729166667vw 13.6979166667vw 4.0625vw;
  color: #fff;
  font-size: 5vw;
  font-family: HB;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec3PcTextBg.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-container {
  position: relative;
  margin: 0 12.5vw;
}
.icon-container .title-2 {
  font-weight: 700;
  color: #333333;
  font-size: 6.7708333333vw;
  line-height: 0.9;
  word-wrap: break-word;
}

.icon-2 {
  position: absolute;
  top: -7%;
  left: -8%;
  translate: none;
  rotate: none;
  scale: none;
  opacity: 1;
  transform: translate(0%, 0px);
  width: 5.8854166667vw;
  height: 5.8854166667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec3PcIcon1.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.sec-three-box {
  position: relative;
  padding: 12.5vw 0;
}
.sec-three-box .box {
  position: relative;
  padding: 5.5vw 0;
  display: block;
}

.circle {
  position: absolute;
  top: 50%;
  right: 7.2916666667vw;
  z-index: 3;
  width: 45.1041666667vw;
  height: 45.1041666667vw;
  border-radius: 50%;
  transform: translateY(-50%);
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec3PcCircle.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.img1 {
  z-index: 2;
  width: 52.0833333333vw;
  height: 45.8854166667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec3PcImg1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.img2 {
  position: absolute;
  top: 0;
  left: 15%;
  width: 30.4166666667vw;
  height: 42.7083333333vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec3PcImg2.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

.sec-three-box .box-1 {
  width: 100%;
  padding: 8.4895833333vw 0 4.0104166667vw;
  color: #fff;
  background-color: #6036f2;
}

.box-1 .text_wrapper {
  max-width: 33vw;
  margin-left: 12.5vw;
}

.title-3 {
  font-size: 2vw;
}
.desc-3 {
  margin-top: 1.25vw;
  font-size: 0.9375vw;
  word-wrap: break-word;
}

.box-2 {
  position: relative;
  padding: 4.0104166667vw 0 2.9166666667vw 10.78125vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec3Pcbox2Bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.params {
  display: flex;
  margin: 0;
}

.paramsb {
  position: absolute;
  top: 2.0833333333vw;
  left: 10.78125vw;
  opacity: 0;
}

.params .title {
  text-align: start;
  color: #76ffe6;
  font-size: 1.1vw;
  margin: 0;
}
.params .desc {
  color: #fff;
  font-size: 0.9vw;
  margin-top: 0.2604166667vw;
}

.paramsb .param {
  margin-right: 1.5vw;
}

.sec-three-2 .icon_container {
  max-width: 55.0833333333vw;
  margin-left: 12.5vw;
}
.sec-three-2 .icon_container .title {
  text-align: start;
  font-weight: 600;
  color: #333333;
  font-size: 6.7708333333vw;
  line-height: 0.9;
  word-wrap: break-word;
}

.icon3 {
  position: absolute;
  width: 7.8125vw;
  height: 7.8125vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec4PcIcon3.webp);
  background-repeat: no-repeat;
  background-size: contain;
  top: 17%;
  left: 92%;
}
.icon4 {
  position: absolute;
  width: 11.40625vw;
  height: 11.40625vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec5PcIcon1.webp);
  background-repeat: no-repeat;
  background-size: contain;
  top: 14%;
  left: -12%;
}

.text-boxes {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.left-text {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 4vw;
  color: #fff;
  width: 50.78125vw;
  height: 25.1041666667vw;
  margin-top: 7.8125vw;
  padding-left: 7.5vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec4PcLeft.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.right-text {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 44.1666666667vw;
  height: 25.1041666667vw;
  padding-left: 23.4375vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec4PcRight.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.right-text .param {
  margin-bottom: 1.5vw;
}

.right-text .param .title {
  text-align: start;
  margin: 0;
  color: #76ffe6;
  font-size: 2.5vw;
}
.right-text .param .desc {
  font-size: 0.9375vw;
}

.sec-three-2 footer {
  position: relative;
  margin: 12.5vw 0;
}

.sec-three-2 footer .icon_container {
  position: relative;
  margin: 0 12.5vw;
  max-width: 100%;
}
.sec-three-2 footer .icon_container .title {
  width: 100%;
}

.sec-4 {
  position: relative;
}

.sec-4 .bar {
  height: 5.0520833333vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec6PcBar.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_wrapper {
  background-color: #571deb;
}

.sec-4 {
  padding: 8.3333333333vw 0 10.4166666667vw;
}

.sec-4 .text {
  font-family: "Montserrat", sans-serif !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.2291666667vw;
  height: 23.59375vw;
  margin: 0 auto 20.8333333333vw;
  padding-bottom: 1.3020833333vw;
  color: #fff;
  font-size: 5vw;
  font-family: HB;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec6PcTextBg.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon5 {
  position: absolute;
  width: 13.5416666667vw;
  height: 11.25vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec6PcIcon4.webp);
  background-repeat: no-repeat;
  background-size: contain;
  top: -2%;
  left: 62%;
}

.sec-4 .icon_container,
.sec-7 .icon_container,
.sec-8 .icon_container {
  position: relative;
  margin: 0 12.5vw;
  max-width: 100%;
}

.sec-4 .title,
.sec-7 .title,
.sec-8 .title {
  text-align: start;
  font-weight: 700;
  font-size: 6.7708333333vw;
  line-height: 0.9;
  word-wrap: break-word;
  color: #fff;
  margin: 0;
}

.sec-5 {
  position: relative;
  padding: 8.3333333333vw 0 10.4166666667vw;
}

.sec-5 video {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 56.25vw;
  clip-path: inset(2px 0);
}

.sec-5 .text_wrapper {
  position: absolute;
  position: relative;
  top: 17.2291666667vw;
  left: 60.0520833333vw;
  z-index: 3;
  max-width: 28.8020833333vw;
}

.title-5 {
  font-size: 2vw;
}

.desc-5 {
  margin-top: 1.25vw;
  font-size: 0.9375vw;
  word-wrap: break-word;
}

.pic_box {
  position: relative;
  top: -1.0416666667vw;
  left: 21.0416666667vw;
  z-index: 3;
  width: 21.25vw;
  height: 45.6770833333vw;
  color: #fff;
}
.sec-5-phone {
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/new/dist/png/sec7MbF4.png);
}

.light {
  position: absolute;
  top: -2.9166666667vw;
  right: 0.4166666667vw;
  width: 10.7291666667vw;
  height: 6.40625vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec7PcF2.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.param1 {
  position: absolute;
  top: 5.7291666667vw;
  left: -13.8541666667vw;
  width: 18.4375vw;
  height: 9.7916666667vw;
  padding: 1.8229166667vw 2.8645833333vw 0;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec7PcF4.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.param2 {
  position: absolute;
  top: 2.0833333333vw;
  right: -12.5vw;
  width: 17.2395833333vw;
  height: 13.8541666667vw;
  padding: 2.6041666667vw 0 0 3.6458333333vw;
  color: #571deb;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec7PcF5.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.param3 {
  position: absolute;
  top: 20.7291666667vw;
  left: -10.4166666667vw;
  width: 16.5104166667vw;
  height: 10.1041666667vw;
  padding: 2.34375vw 3.90625vw 0;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec7PcF6.webp);
  background-repeat: no-repeat;
  background-size: contain;
}
.param4 {
  position: absolute;
  top: 24.4791666667vw;
  left: 14.84375vw;
  width: 21.1458333333vw;
  height: 8.4375vw;
  padding: 1.1458333333vw 1.8229166667vw 0;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec7PcF7.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.param1 .title,
.param2 .title,
.param3 .title,
.param4 .title {
  margin: 0;
  font-size: 2vw;
}
.param1 .desc,
.param2 .desc,
.param3 .desc,
.param4 .desc {
  margin: 0;
  font-size: 1.25vw;
}
.param4 .desc {
  font-size: 1.125vw;
}

.param2 .title {
  font-size: 4vw;
}
.param4 .title {
  font-size: 1.75vw;
}

.sec-6 {
  position: relative;
}

.sec-6-video {
  position: absolute;
  top: -32.1%;
  width: 100vw;
  height: 56.25vw;
}

.sec-6 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(2px 0);
  display: block;
}

.sec-6 .text-content {
  position: relative;
  z-index: 3;
  padding: 7.8125vw 0;
  max-width: 36.4583333333vw;
  margin-left: 52.0833333333vw;
}

.sec-6 .text_wrapper .title {
  font-size: 2vw;
  text-align: start;
  font-weight: 500;
  margin: 0;
}
.sec-6 .text_wrapper .desc {
  margin-top: 1.25vw;
  font-size: 0.9375vw;
  word-wrap: break-word;
}

.sec-6 .params {
  position: relative;
  z-index: 3;
  display: flex;
  margin-top: 4.84375vw;
  gap: 0;
}

.sec-6 .params .param {
  margin-right: 2.0833333333vw;
}

.sec-6 .params .param .title {
  color: #571deb;
  font-weight: 700;
  font-size: 1.2vw;
}
.sec-6 .params .param .desc {
  font-size: 0.8333333333vw;
  color: #000;
}

.sec-7 {
  position: relative;
  padding: 5.2083333333vw 0;
  margin-top: 12.5vw;
}

.sec-7 .icon5 {
  width: 4.7916666667vw;
  height: 4.7916666667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec8PcIcon2.webp);
  background-repeat: no-repeat;
  background-size: contain;
  top: -41%;
  left: 23%;
}
.sec-7 .icon3 {
  width: 8.125vw;
  height: 6.3020833333vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec8PcIcon3.webp);
  background-repeat: no-repeat;
  background-size: contain;
  top: 2%;
  left: -8%;
}

.sec-7 .pic-box {
  position: relative;
  width: 10.9375vw;
  height: 23.8020833333vw;
  transition: all 0.5s;
}
.sec-7 .pic-box video {
  width: 100%;
  height: 100%;
  margin-top: 0.3125vw;
  margin-left: 0.46875vw;
  object-fit: cover;
  border-radius: 1.25vw;
}

.pic-border {
  position: absolute;
  width: 12.2395833333vw;
  height: 25vw;
  transition: all 0.5s;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec8PcBorder2.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.sec-7 .swiper {
  width: 75%;
  height: 40vw;

  margin: 10vw auto;
}

.sec-7 .swiper-slide {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.sec-7 .swiper-pagination-bullet {
  top: 2vw;
  width: 1.71875vw;
  height: 1.8229166667vw;
  margin-right: 1.3541666667vw;
  cursor: pointer;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec8PcF8.webp);
  background-repeat: no-repeat;
  background-size: contain;
}
.sec-7 .swiper-pagination-bullet-active {
  width: 1.71875vw;
  height: 1.8229166667vw;
  margin-right: 1.3541666667vw;
  cursor: pointer;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec8PcF7.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.bg_purple,
.sec-8 {
  position: relative;
  background-color: #f964b8;
}

.sec-8 {
  padding: 16vw 0 0;
}

.sec-8 .text {
  padding: 5.7291666667vw 7.96875vw 7.8125vw;
  margin: 0 auto 27.6041666667vw !important;
  color: #fff;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 1.2;
  text-align: center;
  background-position: center;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec9PcBg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.bg_purple .bar {
  top: -4vw;
  width: 100%;
  height: 4.375vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec8PcCircle.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-8 .icon5 {
  width: 8.5416666667vw;
  height: 8.5416666667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec10Icon1.webp);
  background-repeat: no-repeat;
  background-size: contain;
  top: -26%;
  left: -9%;
}
.sec-8 .icon3 {
  width: 8.5416666667vw;
  height: 8.5416666667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec10Icon4.webp);
  background-repeat: no-repeat;
  background-size: contain;
  top: -9%;
  left: 100%;
}

.content_box {
  position: relative;
  width: 100%;
  height: 34.4270833333vw;
  margin-top: 20.6770833333vw;
  padding-top: 5.2083333333vw;
  color: #fff;
}

.text_box {
  position: relative;
  width: 36vw;
  margin-left: 59.8958333333vw;
}

.content_box .pic {
  position: absolute;
  top: -8.3333333333vw;
  width: 100%;
  height: 56.25vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec10PcF1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.text_box .title {
  font-size: 2.5vw;
  line-height: 1.2;
  font-weight: 400;
}
.text_box .desc {
  margin-top: 1.25vw;
  font-size: 0.9375vw;
  word-wrap: break-word;
  font-weight: 400;
}

.text_box .datas {
  margin-top: 3.90625vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.text_box .datas .data {
  color: #faff00;
  font-size: 1.3vw;
}

.sec-8 .tips {
  display: flex;
  justify-content: flex-end;
  margin-top: 3.6458333333vw;
  padding-right: 5.9375vw;
  padding-bottom: 3.28125vw;
  text-align: start;
  max-width: 100%;
  color: #ffffff4d;
}

.sec-9 {
  position: relative;
  padding-top: 16.0416666667vw;
}

.sec-9 .icon_container {
  position: relative;
  width: 68.75vw;
  margin: auto;
  color: #fff;
  padding: 0 0 17.5vw;
}

.sec-9 .icon_container .title {
  text-align: start;
  font-weight: 700;
  font-size: 6.7708333333vw;
  line-height: 0.9;
  word-wrap: break-word;
  color: #fff;
  margin: 0;
}
.sec-9 .icon_container .icon5 {
  top: 56%;
  left: 75%;
  width: 9.21875vw;
  height: 6.5104166667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec11PcIcon3.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.sec-9_phone {
  position: absolute;
  top: 42%;
  left: 11%;
  z-index: 8;
  width: 21.25vw;
  height: 45.6770833333vw;
}

.sec-9_phone video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 93%;
  height: 95%;
  object-fit: cover;
  border-radius: 1.0416666667vw;
  transform: translate(-50%, -50%);
}

.sec-9 .pic-1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec11PcPhone.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.sec-p_text {
  position: absolute;
  top: 73%;
  left: 31%;
  z-index: 5;
  width: 15.1041666667vw;
  height: 11.25vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec11Text.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.left-circle {
  position: absolute;
  top: 37%;
  left: 9%;
  width: 45.3645833333vw;
  height: 45.3645833333vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec11PcLeftCircle.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.right-circle {
  position: absolute;
  top: 34%;
  right: 4%;
  z-index: 4;
  width: 57.9166666667vw;
  height: 57.9166666667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec11PcRightCircle.webp);

  background-repeat: no-repeat;
  background-size: contain;
}

.right-circle .content_box {
  padding-top: 5vw;
  padding-left: 5.2083333333vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-circle .content_box .title {
  margin: 0;
  font-size: 2.5vw;
  text-align: start;
  width: 25vw;
}
.right-circle .content_box .desc {
  margin-top: 1.25vw;
  font-size: 0.9375vw;
  word-wrap: break-word;
  width: 27vw;
}

.sec-9 .products {
  display: flex;
  gap: 2vw;
}

.sec-9 .product .title {
  margin: 0;
  color: #faff00;
  font-size: 2vw;
  text-align: start;
  width: 100%;
}

.sec-9 .product .desc {
  width: 100%;
}

.sec-9 .tips {
  text-align: start;
  color: #00000040;
  display: block;
  margin-top: 57.2916666667vw;
  padding-bottom: 2.0833333333vw;
  padding-left: 9.6875vw;
}

.sec-10 {
  position: relative;
  padding: 16.0416666667vw 0 15.625vw;
}

.sec-10 .icon_container {
  position: relative;
  width: 70.75vw;
  margin: auto;
  color: #fff;
}

.sec-10 .icon_container .title {
  text-align: start;
  font-weight: 400;
  font-size: 6.7708333333vw;
  line-height: 0.9;
  word-wrap: break-word;
  color: #fff;
  margin: 0;
}
.sec-10 .icon_container .icon5 {
  top: 7%;
  left: 95%;
  width: 8.6458333333vw;
  height: 5.5729166667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec12PcIcon1.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.sec-10-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 13.0208333333vw;
  color: #fff;
}
.sec-10-content video {
  position: absolute;
  top: -8.3333333333vw;
  width: 100%;
  clip-path: inset(2px 0);
}

.sec-10-left {
  position: relative;
  width: 30vw;
  height: 25.15625vw;
  margin-top: 8.59375vw;
  padding-top: 4.4791666667vw;
  padding-left: 6.25vw;
}

.sec-10-title {
  font-size: 2.5vw;
  line-height: 0.9;
}

.sec-10-desc {
  margin-top: 1.25vw;
  font-size: 0.9375vw;
  word-wrap: break-word;
}

.sec-10-right {
  position: relative;
  width: 47.5520833333vw;
  height: 25.1041666667vw;
  padding-top: 5.3125vw;
  padding-left: 25.5729166667vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.sec-10-right .param .title {
  text-align: start;
  margin: 0;
  color: #76ffe6;
  font-size: 2.5vw;
}
.sec-10-right .param .desc {
  font-size: 0.9375vw;
}

.sec-10 .line1 {
  position: absolute;
  top: 4.4270833333vw;
  left: 22.3958333333vw;
  width: 9.21875vw;
  height: 8.8541666667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec12PcLine1.webp);
  background-repeat: no-repeat;
  background-size: contain;
}
.sec-10 .line2 {
  position: absolute;

  top: -4.1666666667vw;
  left: 67.7083333333vw;
  width: 7.5vw;
  height: 13.4375vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec12PcLine2.webp);
  background-repeat: no-repeat;
  background-size: contain;
}
.sec-10 .line3 {
  position: absolute;

  top: 35.4166666667vw;
  left: 57.2916666667vw;
  width: 21.71875vw;
  height: 4.0104166667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec12PcLine3.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.sec-11 {
  background-color: #f964b8;
  padding-bottom: 15.625vw;
}

.sec-11 .icon_container {
  position: relative;
  width: 70.75vw;
  margin: auto;
  color: #fff;
}

.sec-11 .icon_container .title {
  text-align: start;
  font-weight: 400;
  font-size: 6.7708333333vw;
  line-height: 0.9;
  word-wrap: break-word;
  color: #fff;
  margin: 0;
}
.sec-11 .icon_container .icon3 {
  top: -2%;
  left: -12%;
  width: 9.3229166667vw;
  height: 9.3229166667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec13PcIcon3.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.sec-11-content {
  position: relative;
  margin-top: 18.4895833333vw;
}
.sec-11-left {
  width: 83.3333333333vw;
  padding: 3.125vw 14.4791666667vw 4.0104166667vw;
  background-color: #6524fa;
}

.sec-11-left .text_box {
  margin: 0;
}

.box-title {
  font-size: 2.5vw;
  color: #fff;
  font-weight: 500;
}

.box-desc {
  margin: 1.25vw 0 3.125vw;
  font-size: 0.9375vw;
  word-wrap: break-word;
  color: #fff;
}

.sec-11-left .data-title {
  font-size: 2vw;
  color: #faff00;
}
.sec-11-left .data-desc {
  font-size: 0.9375vw;
  color: #fff;
}

.sec-11-left .pic {
  position: absolute;
  top: -18.2291666667vw;
  right: 0;
  width: 46.5625vw;
  height: 64.0104166667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec13PcF2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.sec-11-left .pic2 {
  position: absolute;
  top: 7.2916666667vw;
  right: 23.9583333333vw;
  width: 25.3125vw;
  height: 25.3125vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec13PcF1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.sec-12 {
    padding-top: 2.6041666667vw;
    position: relative;
}

.sec-12 .icon_container {
  position: relative;
  width: 70.75vw;
  margin: auto;
  color: #fff;
}

.sec-12 .icon_container .title {
  text-align: start;
  font-weight: 400;
  font-size: 6.7708333333vw;
  line-height: 0.9;
  word-wrap: break-word;
  color: #fff;
  margin: 0;
}

.sec-12 .icon_container .icon5 {
  position: absolute;
  top: 0%;
  left: -15%;
  width: 10.5729166667vw;
  height: 10.5729166667vw;
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec14PcIcon1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.sec-12-content {
    display: flex;
    margin-top: 8vw;
}

.sec-12-left {
    width: 58.90625vw;
    height: 44.5833333333vw;
    padding-top: 14.0625vw;
    padding-left: 12.5vw;
    background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/webp/sec14PcLeft.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.sec-12-left .text_box {
    margin: 0;
    display: flex;
    gap: 2vw;
}

.text-left .title {
    margin: 0;
    font-size: 2.5vw;
    line-height: 1.2;
    color: #fff;
    text-align: start;
}
.text-left .desc {
    margin-top: 1.25vw;
    font-size: .9375vw;
    word-wrap: break-word;
    color: #fff;
}

.sec-12 .data-title {
  font-size: 2vw;
  color: #faff00;
}
.sec-12 .data-desc {
  font-size: 0.9375vw;
  color: #fff;
  margin-bottom: 1.25vw;
}

.sec-12-right {
    width: 44.53125vw;
    height: 44.6354166667vw;
    margin-left: -13.8020833333vw;
    background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/SPARK_20C/dist/png/sec14PcRight.png);
    background-repeat: no-repeat;
    background-size: contain;
}