.pova-title {
  font-size: 3.125vw;
  font-weight: 400;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}

.pova-subtitle {
  font-size: 1.5625vw;
  margin-top: 1.171875vw;
  font-weight: 400 !important;
}

.pova-desc {
  font-size: 1.25vw;
  margin-top: 2.34375vw;
}

.pova-container {
  background-color: #000;
}

.pova-banner {
  max-width: 100%;
}

.content-container {
  position: relative;
  background-size: 100%;

  background-repeat: no-repeat;
  width: 100%;
  min-height: 60vw;
  height: 100%;
}

.content-inner {
  color: #fff;
  position: relative;
  display: flex;
  height: 100%;
  margin: auto;
  width: 100%;
  flex-direction: flex;
  justify-content: space-between;
  gap: 5vw;
}

.content {
  color: #fff;
  z-index: 999;
  position: relative;
  height: 90%;
  margin: auto;
  width: 80vw;
  padding: 15vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content h1 {
  font-size: 4.6875vw;
  font-weight: 400 !important;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);

  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}

.content h2 {
  font-size: 3.125vw;
  font-weight: 400 !important;
  color: #dbffef;
}

.content p {
  font-size: 1.125vw;
  font-weight: 500 !important;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.features {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.image-container {
  position: relative;
  background-size: 100%; /* Фон будет растягиваться на всю ширину и высоту элемента */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vw;
}

.image-container img {
  position: absolute;
  object-fit: contain;
  width: 46.625vw;
  max-height: 60vw;
  margin-top: 10vw;
  right: 10vw;
}

.card-container {
  position: relative;
  height: 32vw;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
  z-index: 1; /* Below the frame */
  width: 100%;
  height: 98%;
}

.card-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2; /* Frame appears above the image */
  width: 100%;
}

.card-container:hover .card-image {
  transform: scale(1.02); /* Hover scaling effect */
  cursor: pointer;
  transition: 0.3s;
}

.card-text {
  position: absolute;
  color: white;
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 6vw 2vw;
  margin: auto;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 3; /* Ensures text is visible above the frame */
}

.content-card {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.design-inner {
  margin: auto;
  width: 75vw;
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.design-content-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.design-content-header img {
  max-height: 2rem;
}

.first-img {
  width: 40vw;
}

.second-img {
  width: 25vw;
}

.battery-container {
  padding: 10vw 5vw 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
}

.battery-header p {
  font-size: 1.5625vw;
  color: #dbffef;
}

.battery-header h2 {
  font-size: 3.125vw;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}

.battery-footer {
  font-size: 1.25vw;
  font-weight: 500;
}

.body-container {
  padding-top: 12vw;
  height: 70%;
  width: 75vw;
  margin: auto;
}

.body-title {
  font-size: 3.125vw;
  font-weight: 700;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}
.body-subtitle {
  font-size: 1.5625vw;
  margin-top: 1.171875vw;
}

.body-desc {
  font-size: 1.25vw;
  margin-top: 2vw;
}

.body-footer {
  display: flex;
  align-items: center;
  column-gap: 3.125vw;
  margin-top: 13vw;
}

.body-feature-card {
  display: flex;
  align-items: center;

  font-size: 1.25vw;
}

.body-feature-card img {
  width: 5.859375vw;
  height: 5.859375vw;
  margin-right: 1.953125vw;
}

.color-swiper {
  position: relative;
  height: 85vw !important;
}

.color-slogan {
  position: absolute;
  text-align: center;
  top: 55vw;
  left: 25vw;
  color: #fff;
  z-index: 2;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 65vw;
  left: 25vw;
  z-index: 10;
}

.pagination-item {
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 5px;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: 0, 3s all;
}

.pagination-item span {
  display: none;
}

.pagination-item.active {
  transition: 0, 3s all;
  border-radius: 20px;

  border-color: white;
  background-color: transparent;
  color: #fff;
}
.pagination-item.active span {
  display: block;
}

.pagination-text {
  margin-left: 5px;
}
.circle {
  width: 2rem;
  height: 2rem;
}

.fade-slider {
  position: relative;
  height: 100vh !important;
}

.slide {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-battery-container {
  position: relative;
}
.second-battery-container video {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.first {
  position: absolute;
  padding: 3vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first h1 {
  font-size: 3.125vw;
  font-weight: 400;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}
.first h3 {
  font-size: 1.5625vw;
  margin-top: 1.171875vw;
  font-weight: 400 !important;
}

.first p {
  font-size: 1.25vw;
  margin-top: 2.34375vw;
}

.content-inner-2 {
  color: #fff;
  position: relative;
  display: flex;
  height: 100vh;
  margin: auto;
  width: 80vw;
  flex-direction: flex;
  justify-content: space-between;
  gap: 5vw;
}

.first ul {
  list-style: none;
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin-top: 3.125vw;
  column-gap: 3.125vw;
}

.first ul li {
  font-size: 1.25vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.first ul li strong {
  font-size: 4.6875vw;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}
.first ul li strong sup {
  font-size: 1.5625vw;
}
.first ul li span {
  font-size: 1.5625vw;
}

.second {
  width: 100%;
  padding: 3vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second h1 {
  font-size: 3.125vw;
  font-weight: 400;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}
.second h3 {
  font-size: 1.5625vw;
  margin-top: 1.171875vw;
  font-weight: 400 !important;
}

.second p {
  font-size: 1.25vw;
  margin-top: 2.34375vw;
}

.charge-section {
  padding: 10vw;
}

.charge-section-second {
  padding: 10vw;
  margin: auto;
  height: 90vw;
}

.charge-section-second ul {
  list-style: none;
  display: grid;

  width: 95%;
  margin-top: 17.125vw;
  row-gap: 2.125vw;
}

.charge-section-second ul li {
  background-image: url(https://d3fyizz0b46qgr.cloudfront.net/global/phones/pova6-normal/assets-ru/chapter2-4ladder-card-9f729e89.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 36.6796875vw;
  height: 14.609375vw;
  font-size: 1.25vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.953125vw;
}

.charge-section-second-list {
  margin-left: 40vw;
}

.charge-third-section {
  padding: 5vw;
  width: 100%;
}

.charge-third-section h1 {
  color: #dbffef;
  font-size: 3.359375vw;
}
.charge-third-section img {
  margin-top: 10vw;
  height: 26.171875vw;
  width: 85.0390625vw;
}

.water-save {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10vw 5vw;
}

.ramka {
  position: relative;
  margin: auto;
  color: #fff;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ramka img {
  width: 70%;
  padding: 5vw 0;
}

.ramka-images {
  position: relative;
}
.ramka-images img:first-child {
  /* Target the first image */
  position: absolute;
  top: 5vw;
  right: 5vw;
  border-radius: 5% !important;
}

.certificate {
  padding-top: 5vw;
}

.certificate-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.certificate-container img {
  position: relative;
  height: 99%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 10vw 0;
}

.overlay img {
  width: 6.6015625vw;
  height: 6.6015625vw;
}

.overlay p {
  color: #b4e2cb;
}

.certificate-title {
  font-size: 3.125vw;
  font-weight: 400;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}

.certificate-subtitle {
  font-size: 1.5625vw;
  margin-top: 1.171875vw;
  font-weight: 400 !important;
}

.speed-container {
  position: relative;
  margin-top: 11.71875vw;
  height: 70vw;
}
.speed-bacground {
  position: absolute;
  width: 100%;
}

.speed-perfomance {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  gap: 40vw;
}
.speed-frame {
  margin-top: 4.6875vw;
  width: 70%;
  position: relative;
  margin: auto;
}

.speed-title {
  color: #b4e2cb;
}

.speed-frame img {
  width: 100%;
  position: absolute;
}

.speed-frame-overlay {
  padding: 2.34375vw 3.515625vw;
  position: absolute;
}

.speed-frame-overlay h1 {
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}

.speed-frame-overlay p {
  font-size: 1.25vw;
  margin-top: 2.34375vw;
  color: #fff;
}

.audio {
  position: relative;
  margin-top: 4.6875vw;
}

.audio video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.audio-container {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
}

.audio-overlay {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10vw 5vw;
  z-index: 1;
  width: 100%;
}

.audio-title {
  font-size: 3.125vw;
  font-weight: 400;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}

.audio-subtitle {
  font-size: 1.5625vw;
  margin-top: 1.171875vw;
  font-weight: 400 !important;
  color: #dbffef;
}

.audio-desc {
  font-size: 1.25vw;
  margin-top: 2.34375vw;
  color: #fff;
}

.audio-overlay img {
  margin-top: 2.34375vw;
  width: 14.4921875vw;
  height: 6.6015625vw;
}
