.pova-container {
  background-color: #000;
}

.pova-banner {
  max-width: 100%;
}

.content-container {
  position: relative;
  background-size: 100%;

  background-repeat: no-repeat;
  width: 100%;
  height: 60vw;
}

.content-inner {
  color: #fff;
  position: relative;
  display: flex;
  height: 100%;
  margin: auto;
  width: 80vw;
  flex-direction: flex;
  justify-content: space-between;
  gap: 5vw;
  padding: 5vw 0;
}

.content {
  color: #fff;
  z-index: 999;
  position: relative;
  height: 90%;
  margin: auto;
  width: 80vw;
  padding: 15vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content h1 {
  font-size: 4.6875vw;
  font-weight: 400 !important;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);

  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}

.content h2 {
  font-size: 3.125vw;
  font-weight: 400 !important;
  color: #dbffef;
}

.content p {
  font-size: 1.125vw;
  font-weight: 500 !important;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.features {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.image-container {
  position: relative;
  background-size: 100%; /* Фон будет растягиваться на всю ширину и высоту элемента */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vw;
}

.image-container img {
  position: absolute;
  object-fit: contain;
  width: 35.625vw;
  max-height: 60vw;
  margin-top: 10vw;
  right: 10vw;
}

.card-container {
  position: relative;
  height: 32vw;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
  z-index: 1; /* Below the frame */
  width: 100%;
  height: 98%;
}

.card-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2; /* Frame appears above the image */
  width: 100%;
}

.card-container:hover .card-image {
  transform: scale(1.02); /* Hover scaling effect */
  cursor: pointer;
  transition: 0.3s;
}

.card-text {
  position: absolute;
  color: white;
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 6vw 2vw;
  margin: auto;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 3; /* Ensures text is visible above the frame */
}

.content-card {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.design-inner {
  margin: auto;
  width: 75vw;
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.design-content-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.design-content-header img {
  max-height: 2rem;
}

.first-img {
  width: 40vw;
}

.second-img {
  width: 25vw;
}

.battery-container {
  padding: 10vw 5vw 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
}

.battery-header p {
  font-size: 1.5625vw;
  color: #dbffef;
}

.battery-header h2 {
  font-size: 3.125vw;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}

.battery-footer {
  font-size: 1.25vw;
  font-weight: 500;
}

.body-container {
  height: 70%;
  width: 75vw;
  margin: auto;
}

.body-title {
  font-size: 3.125vw;
  font-weight: 700;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}
.body-subtitle {
  font-size: 1.5625vw;
  margin-top: 1.171875vw;
}

.body-desc {
  font-size: 1.25vw;
  margin-top: 2vw;
}

.body-footer {
  display: flex;
  align-items: center;
  column-gap: 3.125vw;
  margin-top: 13vw;
}

.body-feature-card {
  display: flex;
  align-items: center;

  font-size: 1.25vw;
}

.body-feature-card img {
  width: 5.859375vw;
  height: 5.859375vw;
  margin-right: 1.953125vw;
}

.color-swiper {
  position: relative;
  height: 85vw !important;
}

.color-slogan {
  position: absolute;
  text-align: center;
  top: 55vw;
  left: 25vw;
  color: #fff;
  z-index: 2;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 65vw;
  left: 25vw;
  z-index: 10;
}

.pagination-item {
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 5px;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: 0, 3s all;
}

.pagination-item span {
  display: none;
}

.pagination-item.active {
  transition: 0, 3s all;
  border-radius: 20px;

  border-color: white;
  background-color: transparent;
  color: #fff;
}
.pagination-item.active span {
  display: block;
}

.pagination-text {
  margin-left: 5px;
}
.circle {
  width: 2rem;
  height: 2rem;
}

.fade-slider {
  position: relative;
  height: 100vh !important;
}

.slide {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-battery-container {
  position: relative;
}
.second-battery-container video {
  position: absolute;
  width: 100%;
}

.first {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first h1 {
  font-size: 3.125vw;
  font-weight: 400;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; /* Для Safari */
  color: transparent;
}
.first h3 {
  font-size: 1.5625vw;
  margin-top: 1.171875vw;
  font-weight: 400 !important;
}

.first p {
  font-size: 1.25vw;
  margin-top: 2.34375vw;
}

.content-inner-2 {
  color: #fff;
  position: relative;
  display: flex;
  height: 100%;
  margin: auto;
  width: 80vw;
  flex-direction: flex;
  justify-content: space-between;
  gap: 5vw;
}

.first ul {
  list-style: none;
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin-top: 3.125vw;
  column-gap: 3.125vw;
}

.first ul li {
  font-size: 1.25vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.first ul li strong {
  font-size: 4.6875vw;
  background: linear-gradient(to right, #b4e2cb, #4d8c6c, #4d8c6c);
  -webkit-background-clip: text; 
  color: transparent;
  text-align: center;
}
.first ul li strong sup {
  font-size: 1.5625vw;
}
.first ul li span {
  font-size: 1.5625vw;
}
